
        <aside id="communications">
            <h2>Group Communications</h2>
            <h3>Mailing lists</h3>
            <ul>
                <li><a href="mailto:public-publishingbg@w3.org">public-publishingbg@w3.org</a>: the group’s primary mailing list. Group members are automatically signed up. The <a href="https://lists.w3.org/Archives/Public/public-publishingbg/">archives</a> are publicly visible, and anyone can post a mail.</li>
                <li><a href="mailto:internal-publishingbg@w3.org">internal-publishingbg@w3.org</a>: the group’s member confidential mailing list. Group members are automatically signed up. The <a href="https://lists.w3.org/Archives/Member/internal-publishingbg/">archives</a> are visible to W3C members and Business Group members only, and only group members can post a mail.</li>
                <li><a href="mailto:public-publishing-sc@w3.org">public-publishing-sc@w3.org</a>: mailing list of the group’s Steering Committee. The <a href="https://lists.w3.org/Archives/Public/public-publishing-sc/">archives</a> are publicly visible, and anybody can post a mail.</li>
            </ul>

            <h3>Github repositories</h3>
            <ul>
                <li><a href="https://github.com/w3c/publ-bg">Publishing BG Repository</a>.</li>
            </ul>

        </aside>
