<nav>
    <h3>Getting involved</h3>
    <ul>
        <li><a href="https://w3c.github.io/publ-bg/">Working Web Site</a></li>
        <li><a href="https://drive.google.com/open?id=1tQf56giFynYlWKm5DmrxTUbYUwpzQAmI">Google drive folder</a></li>
        <li><a href="https://w3c.github.io/publ-bg/Meetings/">Information on meetings</a></li>
        <li><a href="https://w3c.github.io/publ-bg/Meetings/Minutes/">Meeting minutes</a></li>
        <li><a href="https://www.w3.org/community/wp-login.php?redirect_to=%2Fcommunity%2Fpublishingbg%2Fjoin">Join/Leave the Group</a></li>
    </ul>
<!--
    <h3>Drafts</h3>
    <ul>
    </ul> -->

    <h3>Group details</h3>
    <ul>
        <li><a href="https://www.w3.org/publishing/groups/publ-bg/">Official Home Page</a></li>
        <li><a href="https://www.w3.org/community/publishingbg/participants">Participants</a></li>
        <li><a href="https://www.w3.org/2017/02/PublishingBGcharter">Charter</a></li>
        <li><a href="https://w3c.github.io/publ-bg/Steering_Committee/">Steering Committee</a> </li>
    </ul>

    <h3>Nearby</h3>
    <ul>
        <li><a href="https://www.w3.org/publishing/">Publishing@W3C</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/">Publishing Working Group</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-cg/">EPUB 3 Community Group</a></li>
        <li><a href="https://www.w3.org/TR/#tr_Digital_Publishing">Publishing@W3C Publications</a></li>
    </ul>

    <h3>General Links</h3>
    <ul>
        <li><a href="https://www.w3.org/Consortium/join">Joining W3C</a></li>
        <li><a href="https://www.w3.org/Consortium/activities">W3C Activities</a></li>
        <li><a href="http://www.w3.org/Guide/">W3C Guidebook</a></li>
        <li><a href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
    </ul>
</nav>
